.hotel_tabs_bf2026 {
  position: relative;
  isolation: isolate;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background: #FFF7E6;
    box-shadow: 0 0 0 100vmax #FFF7E6;
    clip-path: inset(0 -100vmax);
    pointer-events: none;
  }
}

.hotel_tabs__nav {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.hotel_tabs__buttons {
  padding-top: 24px;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.hotel_tabs__header {
  font-size: 32px;
  @media (max-width: 768px) {
    font-size: 20px;
  }
}

.hotel_tabs__nav_text {
  font-size: 16px;
}

.hotel_tabs__hotel_block {
  display: flex;
  flex-direction: column;
  gap: 16px;
  @media (max-width: 768px) {
    gap: 8px;
  }
}